.footer {
    text-align: center;
    margin: auto;
}

a {
    color:rgb(207, 220, 233) !important;
}

.contactLink {
    color: navy !important;
}

.nav {
    padding: 1%;
    font-size: 1.25em;
}

.headerText {
    display: inline-block;
    width: 90%;
    padding-left:2%;
    font-size: 1.5em;
}

.moreLeft {
    padding-left:2%;
}

.profile {
    display: inline-block;
    vertical-align: top;
    width: 10%;
    border: thin solid gray;
    border-radius: 25px;
}

.hero {
    width: 100%;
}

.Wrapper {
    margin:2.5%;
    padding: 1%;
    width:19%;
    float:left;
    border: thin solid gray;
}

.projectWrapper {
        margin:3%;
        padding: 1%;
        width:24%;
        float:left;
        border: thin solid gray;
}

.portfolioImg {
    width: 100%;
}

  .projectImg {
    width: 60%;
    margin:6%;
    border: thin solid gray;
}

@media only screen and (max-width: 600px) {
    .projectImg {
        width: 100%;
        margin:2%;
        border: thin solid gray;
    }
  }

  .btn {
      margin: 1%;
  }

  .bold {
      font-weight: 600;
  }

  .contactImg {
      width:5%;
      margin: 1%;
  }